@model ProgramasMobilidadeESW2017.Models.Candidatura

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Candidatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramaMobilidadeID" class="control-label"></label>
                <input asp-for="ProgramaMobilidadeID" class="form-control" />
                <span asp-validation-for="ProgramaMobilidadeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePessoaContacto" class="control-label"></label>
                <input asp-for="NomePessoaContacto" class="form-control" />
                <span asp-validation-for="NomePessoaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonePessoaContacto" class="control-label"></label>
                <input asp-for="TelefonePessoaContacto" class="form-control" />
                <span asp-validation-for="TelefonePessoaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelacaoComCandidato" class="control-label"></label>
                <input asp-for="RelacaoComCandidato" class="form-control" />
                <span asp-validation-for="RelacaoComCandidato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCandidaturaID" class="control-label"></label>
                <select asp-for="EstadoCandidaturaID" class ="form-control" asp-items="ViewBag.EstadoCandidaturaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
