@model ProgramasMobilidadeESW2017.Models.Candidatura

@{
    ViewData["Title"] = "Create";
}

<h2>Iniciar Processo Candidatura</h2>

<p>Para iniciar o processo de candidatura por favor preencha o formulário abaixo descrito</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgramaMobilidade" class="control-label">Programa de Mobilidade a que se candidata</label>
                <select asp-for="ProgramaMobilidadeID" class="form-control" asp-items="ViewBag.ProgramaMobilidadeID"></select>
                <span asp-validation-for="ProgramaMobilidadeID" class="text-danger"></span>
            </div> 
            @*<div class="form-group">
                <label asp-for="EstadoCandidaturaID" class="control-label"></label>
                <select asp-for="EstadoCandidaturaID" class="form-control" asp-items="ViewBag.EstadoCandidaturaID"></select>
                <span asp-validation-for="EstadoCandidaturaID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NomePessoaContacto" class="control-label"></label>
                <input asp-for="NomePessoaContacto" class="form-control" />
                <span asp-validation-for="NomePessoaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonePessoaContacto" class="control-label"></label>
                <input asp-for="TelefonePessoaContacto" class="form-control" />
                <span asp-validation-for="TelefonePessoaContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelacaoComCandidato" class="control-label"></label>
                <input asp-for="RelacaoComCandidato" class="form-control" />
                <span asp-validation-for="RelacaoComCandidato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-controller="ProgramasMobilidade" asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
