@model IEnumerable<ProgramasMobilidadeESW2017.Models.Instituicao>

@{
    ViewData["Title"] = "Index";
}

<h2>Instituições</h2>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum mi nec interdum egestas. Nunc convallis tortor in enim porta iaculis. Sed quam mauris, aliquet sit amet leo nec, blandit egestas libero. Proin nec nibh porta, gravida arcu nec, mollis augue. Quisque laoreet augue sed sem aliquet pellentesque. Curabitur luctus vestibulum tortor, id rutrum lacus accumsan sit amet. Morbi vel augue justo. Donec efficitur sed lectus eget tempus. Aliquam accumsan fermentum ligula, facilisis rutrum dui finibus id. Aenean ut massa laoreet, congue tellus et, dignissim mi.</p>
<p class="text-justify">Phasellus pulvinar leo sit amet tellus placerat, quis aliquet eros scelerisque. Proin in cursus felis, et suscipit odio. Sed volutpat augue at ipsum placerat rutrum. Ut vitae dui ac sem iaculis dignissim eu at libero. Vestibulum vehicula fringilla sapien, malesuada suscipit augue molestie ac. Nullam convallis ultricies lacinia. Fusce euismod venenatis dui sed sodales. In dolor lorem, commodo a fringilla vitae, ornare vitae lectus. Pellentesque dapibus dui et libero accumsan cursus. Integer vel mi cursus, consequat mi et, auctor urna. Integer nec lacus sit amet enim sollicitudin euismod. Duis tincidunt vel odio nec ultricies. Nulla eleifend leo sed lorem semper lobortis. In ultricies semper mi, nec volutpat ante eleifend vel. Ut vehicula fringilla nulla. Proin sagittis commodo velit, in facilisis mi feugiat a.</p>

<p style="margin-top: 1em; margin-bottom: 1em;">
    <a class="btn btn-sm btn-success" asp-action="Create">Adicionar Instituição</a>
</p>

@using (Html.BeginForm())
{
    <div style="margin-top: 1em; margin-bottom: 2em; display: flex; justify-content: center; align-items: center; ">
        @Html.TextBox("SearchString", null, new { style = "color: black; border-bottom: 1.2px solid buttonface; border-top: none; border-left: none; border-right: none; width: 15em; ", placeholder = "Procurar por nome" })
        <input type="submit" class="btn btn-xs" value="Procurar" />
    </div>
}

<div class="container">

    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="display: flex; flex: 1; flex-direction: row; margin: 12px 0;">
            <div style="display: flex; flex: 1; align-items: center; justify-content: center;">
                <img src="~/images/flags/portugal.svg" style="height: 3em;" />
            </div>
            <a asp-action="Details" asp-route-id="@item.ID" style="display: flex; flex: 3; justify-content: center; align-items: center;">
                <p style="margin: 0; color: black;">@Html.DisplayFor(modelItem => item.Nome)</p>
            </a>
        </div>
    }
</div>
