
using System.Data.Entity;

namespace WpfApp1
{
    public class ProductContext : DbContext
    {
        public DbSet<TipoProgramaMobilidade> TiposProgramaMobilidade { get; set; }
        public DbSet<ProgramaMobilidade> ProgramasMobilidade { get; set; }
        public DbSet<Pais> Paises { get; set; }
        public DbSet<Instituicao> Instituicoes { get; set; }
        public DbSet<ProgramaMobilidadePais> ProgramasMobilidadePais { get; set; }
        public DbSet<Candidatura> Candidaturas { get; set; }
        public DbSet<Entrevista> Entrevistas { get; set; }
        public DbSet<ObservacaoCandidatura> ObservacoesCandidaturas { get; set; }
        public DbSet<EstadoCandidatura> EstadosCandidaturas { get; set; }


    }
}